{% include 'applicant/navigatio.html' %}

<div class="app-table">
  <table class = "table table-stripped table-hover">
    <thead>
      <tr>
        <th>Company</th>
        <th>Profile</th>
      </tr>
    </thead>

    <tbody>
      {% for job in jobs %}
      <tr>
          <td>{{job.job.company_name}}</td>
          <td>{{job.job.job_type}}</td>
        <td><a href="{% url 'jobdetail' job.job.id  %}" class = "btn btn-secondary btn-sm">View</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
