
{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contact Us</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'contact.css' %}">
    </head>
    <body>
        
        <div class="container">
            <div class="heading">
                <h1>Contact Us</h1>
            </div>
            <form action="/">

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">India</option>
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Submit">

            </form>
        </div>

        <div class="images">
            <ul class="contactnames">
                <li class="gallery">
                    <div>
                        <img src="{% static 'back.jpeg' %}" alt="pavan" width="100%" height="fit-content">
                        <p>Bedada Ajay Kumar</p>
                        <p>Position</p>
                        <ul class="contacts">
                            <li class="contactsli">
                                <a href="#">
                                    <img src="{% static 'facebook.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                            <li class="contactsli">
                                <a>
                                    <img src="{% static 'twitter.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                            <li class="contactsli">
                                <a>
                                    <img src="{% static 'instagram.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="gallery">
                    <div>
                        <img src="{% static 'back.jpeg' %}" alt="pavan" width="100%" height="fit-content">
                        <p>Nelapati Lokesh</p>
                        <p>Position</p>
                        <ul class="contacts">
                            <li class="contactsli">
                                <a href="#">
                                    <img src="{% static 'facebook.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                            <li class="contactsli">
                                <a>
                                    <img src="{% static 'twitter.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                            <li class="contactsli">
                                <a>
                                    <img src="{% static 'instagram.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="gallery">
                    <div>
                        <img src="{% static 'back.jpeg' %}" alt="pavan" width="100%" height="fit-content">
                        <p>Rathod Sainath</p>
                        <p>Position</p>
                        <ul class="contacts">
                            <li class="contactsli">
                                <a href="#">
                                    <img src="{% static 'facebook.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                            <li class="contactsli">
                                <a>
                                    <img src="{% static 'twitter.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                            <li class="contactsli">
                                <a>
                                    <img src="{% static 'instagram.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="gallery">
                    <div>
                        <img src="{% static 'back.jpeg' %}" alt="pavan" width="100%" height="fit-content">
                        <p>Pavan Preetham Reddy</p>
                        <p>Position</p>
                        <ul class="contacts">
                            <li class="contactsli">
                                <a href="#">
                                    <img src="{% static 'facebook.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                            <li class="contactsli">
                                <a>
                                    <img src="{% static 'twitter.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                            <li class="contactsli">
                                <a>
                                    <img src="{% static 'instagram.svg' %}" alt="" width="25" height="25">
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </body>
</html>